@media only screen and (max-width: 600px){
    body{
        background-color: whitesmoke;
        width: 100%;
    }
    nav {
        display: flex;
        width: 100vw;
        height: 300px;
        flex-direction: column;
        justify-content: space-around;
        background-image: linear-gradient(to right, rgb(226, 223, 225), rgb(183, 172, 174));
        padding-top: 5px;
        align-items: center;
        border-bottom: 5px solid red;
    }
    
    .navbar {
        width: 100vw;
        font-family: 'Anton', sans-serif;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }
    .navbar a {
        color: #464444;
        font-size: 1.7rem;
        margin: 0;
        font-weight: bolder;
        transition: all .3s ease-in-out;
    }
    .btn {
        display: flex;
        height: 70px;
        width: 95vw;
    }
    
    div.sell {
        position: absolute;
        font-family: 'Cabin', sans-serif;
        right: 0px;
        height: 100px;
        width: 210px;
        top: 0px;
    }    
    .hero {
        box-shadow: 5px 10px 20px black;
        background-image: url("./img/hero\ img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        width: 100vw;
        justify-content: space-around;
        height: 100vh;
        position: static;
        z-index: 0;
    
    }
    
    .hero h1 {
        font-size: 3rem;
        color: rgb(115, 0, 0);
    }
    
    .write {
        margin: 20px 0 0 0; 
        border: 2px solid;
        box-shadow: 12PX 5PX 20PX #0e0e0e;
        border-radius: 10px;
        background-color: whitesmoke;
        padding: 20px;
        width: 90vw;
        height: 250px;
    }
    
    .write h1 {
        text-shadow: 3px 1px 1px var(--text);
    }
    
    .write p {
        font-size: 1.5rem;
        margin-top: 10px;
        color: rgb(165, 16, 16);
    }

/* Work */
    .work .work-container {
        display: flex;
        width: 100vw;
        height: 65vh;
        flex-direction: column;
        background: #a9dbdf;
        clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
        align-items: center;
    }
    
    .work .work-box {
        width: 380px;
        height: 200px;
        background-color: white;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;
    }
    
    /* Why Section  */
.why {
    width: 98.8vw;
    height: 95vh;
    margin-top: 20px;
    background-color: whitesmoke;
}

.why .why-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.why .hd {
    padding-top: 30px;
}
    /*household*/

    .maincontainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .insidediv {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        width: 100%;
    }
    
    .subdiv {
        margin: 0;
        padding: 0;
        color: rgb(77, 74, 74);
        height: 200px;
        margin: 0;
        width: 100vw;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subdiv h1{
        margin-top: 40px;
    }
    .subdiv2 {
        margin: 0;
        padding: 0;
    }

    /* Blog Section */

.maincontainerblog {
    display: flex;
    flex-direction: column;
    height: 230vh;
    align-items: center;
    background-color: #D3E1E2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.insidecontainerblog {
    margin-top: 0px;
    background-color: whitesmoke;
    text-align: center;
    width: 350px;
    height: 850px;
    border-radius: 20px;
    font-size: 20px;
}

/* footer section */
footer {
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(244, 206, 206), grey);
    display: flex;
    height: 320px;
    justify-content: center;
}
.sectionone .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 98vw;
    height: 26vh;
    justify-content: space-around;
    align-items: center;
}

/* Readmore page1 */
#readmore{
    height: 200px;
}
article{
    height: 230vh;
}
article h1{
    margin: 30px 0 20px 0;
}
.readmoreimg{
    width: 95vw;
    display: flex;
    justify-content: center;
}
/* Readmore page2 */
#readmore1{
    height: 200px;
}
.readmorepage1{
    height: 250vh;
}
/* Readmore page3 */
#readmore2{
    height: 200px;
}
.page3{
    height: 225vh;
}

/* Form Page */
.form1container{
    display: flex;
    flex-direction: column;
}
.scraprate{
    height: 175vh;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}
.scraprate .subrate{
    margin: 0;
    margin-top: 30px;
    width: 350px;
}
.btn .ratebtn {
    position: absolute;
    font-family: 'Cabin', sans-serif;
    right: 0px;
    height: 70px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    width: 200px;
    top: 0px;
}
form{
    width: 100vw;
    margin: 0;
    height: 85vh;
}
.form1img{
    display: none;
}
.h h1{
    margin-top: 30px;
}
form input {
    margin-top: 10px;
    text-align: center;
    height: 45px;
    border-radius: 20px;
    width: 200px;
}
}